@import "variables";

/*
  Global layout stylesheet
  Rules in this file should be applied to every page on the site.
  If a rule will only apply to one or two, add it to pages.css instead.
  You probably shouldn't be editing this file, but if you must:
  Please leave a comment explaining what exactly your rules do!

  “Always code as if the guy who ends up maintaining your code will be
   a violent psychopath who knows where you live.” - Brad Bowman

*/

/* Base Colors & Fonts ---------------------------------------------------- */
html * {
    color-profile: sRGB;
    rendering-intent: auto;
}
body {
	background: #e9c287 url("../images/purty_wood.jpg");
	color: $base00;
	font: 112.5%/1.66 $fontstack; // 18px
	margin: 0;
	@include transition(font-size .5s ease);
}
h1, h2, h3, h4, h5, h6 {
  color: $base01;
}
a {
	color: $tardis;
	text-decoration: none;
	border-bottom: 1px solid $base2;
	border-color: rgba(0,0,0,.2);
	@include transition(all .5s ease);
}
a:hover, a:focus, a:active {
	background-color: $base3;
	background-color: rgba(64,64,64,.1);
}

/* Page ------------------------------------------------------------------- */
html, body {
  height: 100%;
  margin: 0 1%;
}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust:none;
}
#page {
  min-height: 100%;
  position: relative;
  z-index: 0;
  max-width: 1344px;
  margin: 0 auto;
  padding: 70px 0 50px;
  background: #fff;
  @include boxshadow(0 0 15px rgba(0,0,0,.25));
}
#content {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  .post-content,
  .author-bio,
  .post footer,
  #comments,
  #respond {
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1344px) and (min-height: 700px) {
  body {
    font-size: 125%; // 20px
  }
}
@media only screen and (max-width: 1080px) {
  #content {
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
}



/* Header ----------------------------------------------------------------- */
#site-header {
  margin-bottom: 3em;
	text-align: center;
  #site-title {
    display: inline-block;
  	margin: 0;
  	line-height: 48px;
  	font-size: 60px;
  	text-transform: uppercase;
  	letter-spacing: .05em;
  	text-rendering: optimizeLegibility;
  	position: relative;
  	color: $base00;
  	a {
  	  text-indent: -9999em;
  	  display: inline-block;
    	border: 0;
    	width: 75px;
    	height: 75px;
    	background: url("../images/logo-spaceninja-75.png") no-repeat;
    	background-size: 75px;
  	}
  	&:before, &:after {
  	  position: absolute;
  	  top: 15px;
  	  color: #fff;
    	@include transition(color .5s ease);
  	}
  	&:before {
  	  content: 'SPACE';
  	  right: 80px;
  	}
  	&:after {
  	  content: 'NINJA';
  	  left: 80px;
  	}
  	&:hover:before, &:hover:after,
  	&:focus:before, &:focus:after {
  	  color: #000;
  	}
  }
	#skip-link {
		position: absolute;
		left: -10000px;
	}
  @media only screen and (max-width: 480px) {
    #site-title {
      font-size: 35px;
    }
  }
}
.is_touch_device #site-header #site-title:before,
.is_touch_device #site-header #site-title:after {
  color: #000;
}


/* Navigation ------------------------------------------------------------- */
#navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: .9em;
  line-height: 1;
  font-family: $headlinefontstack;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  text-align: center;
  opacity: .25;
  ul {
    list-style: none;
    margin: 0;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      background: none;
      a {
        display: block;
        border: 0;
        color: $base1;
        padding: .25em .5em;
        border-top: 5px solid #fff;
      	@include transition(all .5s ease);
        &:hover, &:focus {
          border-color: $magenta;
          color: $base00;
        }
      }
    }
  }
  &:hover, &:focus {
    opacity: 1;
  }
}
.is_touch_device #navigation {
  color: #000;
}

/* Content ---------------------------------------------------------------- */
h1, h2 ,h3, h4, h5, h6 {
  font-family: $headlinefontstack;
  line-height: 1.1;
  margin: 0 0 5px;
	text-rendering: optimizeLegibility;
	font-weight: normal;
	strong, em {
	  font-weight: normal;
	  font-style: normal;
	  color: $blue;
	}
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.66em;
}
h4 {
	font-size: 1.33em;
}
h5, h6 {
  font-size: 1.25em;
}
strong, b {
  font-weight: bold;
}
em, i, cite {
  font-style: italic;
}
#content hr {
  border: 1px solid $base2;
  border-width: 1px 0 0;
  margin: 1.5em 0;
}
blockquote {
  background: #ffc;
  color: $base00;
  padding: .75em 1em;
  font-style: italic;
  margin: 1em -.66em;
  position:relative;
  @include boxshadow(0 1px 5px rgba(0, 0, 0, 0.1));
  &:before,
  &:after {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:20px;
    left:10px;
    width:50%;
    height:20%;
    max-width:300px;
    max-height:100px;
    @include boxshadow(0 15px 10px rgba(0, 0, 0, 0.2));
    @include transform(rotate(-3deg));
  }
  &:after {
    right:10px;
    left:auto;
    @include transform(rotate(3deg));
  }
  p {
    margin: .75em 0 0;
    &:first-child {
      margin: 0;
    }
  }
  em, i {
    font-style: normal;
  }
  cite {
    font-size: smaller;
  }
}

/* Compositional Elements ------------------------------------------------- */
.kicker, .leadtxt {
  font-size: 1.25em; // 20px
}
sup, sub {
  a {
    text-decoration: none;
    border: 0;
  }
}
ol li {
  margin-left: 1.5em;
}
ul li {
  list-style: none;
  padding-left: 16px;
  background: url("../images/bullet-8px.png") no-repeat left .5em;
  margin-left: 0;
  li {
    margin-left: 1em;
  }
}
aside, .sidenote {
  float: right;
  width: 50%;
  border: 1px solid $base2;
  border-width: 1px 0;
  padding: 1em 0 0;
  margin: 0 0 1em 1.5em;
  font-size: .875em; // 14px
  font-style: italic;
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 1em; // 16px
    font-weight: bold;
  }
  p, table, ul, ol, dl, pre {
    margin: 0 0 1em;
  }
  li {
    background-position: left .33em;
    margin-left: .5em;
  }
}
.pullquote {
  display: block;
  float: right;
  width: 50%;
  border: 1px solid $base2;
  border-width: 1px 0;
  padding: .5em 0;
  margin: 0 0 1em 1.5em;
  font-size: 2em; // 32px
  font-style: italic;
}
.footnote {
  border-top: 1px solid $base2;
  font-size: smaller;
  margin-top: 2em;
  padding-top: 1em;
  li {
    margin: 0 0 1em 0;
  }
}
.caption, .wp-caption-text {
  font-size: smaller;
  font-style: italic;
  color: #666;
  a {
    color: #666;
  }
}
.kern {
  letter-spacing: -.1em;
}

/* WordPress Styles ------------------------------------------------------- */
#page-header {
  margin-bottom: 3em;
}
.post-title {
  font-size: 3em; // 48px
  letter-spacing: .025em;
  line-height: 1.15;
  a {
    border: 0;
    font-style: normal;
  }
}
body .post,
body .page {
  margin-bottom: 5em;
  .post-content {
    @include clearfix;
    margin: 1.5em 0;
  }
  footer {
    position: relative;
    border-top: 1px solid $base2;
    padding-top: 1em;
    color: #666;
    clear: both;
    @include clearfix;
    .comments {
      position: absolute;
      top: 1em;
      left: 0;
      margin: 0;
      a {
        display: inline-block;
        height: 2em;
        line-height: 2em;
      	position: relative;
        font-size: .688em; // 11px;
        font-size: 11px;
        margin: 0;
        padding: 0 .75em;
      	background: $base2;
      	color: $base00;
        border: 0;
      	@include roundcorners(4px);
      	@include transition(none);
        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: -5px;
          left: 1em;
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-top-color: $base2;
          border-bottom: 0;
        }
        &:hover, &:focus {
          background: $base1;
          color: $base3;
        }
        &:hover:before {
          border-top-color: $base1;
        }
      }
      span { // god knows why, but if this rule is merged with the a rule, webkit breaks
        display: block;
        height: 2em;
        line-height: 2em;
      	position: relative;
        font-size: .688em; // 11px;
        font-size: 11px;
        margin: 0;
        padding: 0 .75em;
      	background: $base2;
      	color: $base00;
        border: 0;
      	@include roundcorners(4px);
      	@include transition(none);
        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: -5px;
          left: 1em;
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-top-color: $base2;
          border-bottom: 0;
        }
      }
    }
    .taxonomy {
      line-height: 1;
      float: right;
      margin: 0 0 0 10em;
      text-align: right;
      .label {
        display: none;
      }
      a {
        display: inline-block;
        height: 2em;
        line-height: 2em;
        position: relative;
        font-size: .688em; // 11px;
        font-size: 11px;
        margin: 0 0 5px 10px;
        padding: 0 .75em 0 .33em;
        background: $base2;
      	color: $base00;
        border: 0;
        @include roundcorner(bottom, right, 4px);
        @include roundcorner(top, right, 4px);
      	@include transition(none);
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: -1em;
          width: 0;
          height: 0;
          border: 1em solid transparent;
          border-right-color: $base2;
          border-left: 0;
        }
        &:hover, &:focus {
          background: $base1;
          color: $base3;
        }
        &:hover:before {
          border-right-color: $base1;
        }
      }
      &:after {
        content: '';
        display: inline-block;
        width: .25em;
      }
    }
  }
}
.byline {
  font-size: smaller;
  color: $base1;
  a {
    color: $base1;
    border-color: $base3;
  }
}
.post-nav {
  text-align: center;
  margin-bottom: 1em;
  clear: both;
  strong {
    display: none;
  }
  a, span {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: .5em;
    text-indent: -9999em;
    background-color: $base2;
    border: 0;
    @include roundcorners(1em);
  }
  a:hover, a:focus, span {
    background-color: $base1;
  }
}
.author-bio {
  clear: both;
  font-size: .875em; // 14px;
  line-height: 1.5;
  border-top: 1px solid $base2;
  border-width: 1px 0;
  padding: 1em 0 0;
  margin: 3em 0 1em;
  position: relative;
  .avatar {
    position: absolute;
    top: 1em;
    left: 0;
    padding: 0;
  }
  header {
    padding-left: 80px;
    h3 {
      font-size: 1em;
      font-weight: bold;
    }
  }
  .author-content {
    padding-left: 80px;
    p {
      margin: 0;
    }
    p + p {
      margin-top: 1em;
    }
    .more {
      line-height: 1;
      margin-top: .66em;
      font-size: smaller;
      a {
        color: $base1;
        border-color: $base3;
      }
    }
  }
}
.single-post-navigation {
  font-size: .875em; // 14px;
  line-height: 1.5;
  border: 1px solid $base2;
  border-width: 1px 0;
  padding: 1em 0;
  margin: 7.5em 0;
  @include clearfix;
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    background: none;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    strong {
      display: block;
    }
    a {
      margin-right: .5em;
    }
  }
  .next {
    float: right;
    text-align: right;
    a {
      margin-right: 0;
      margin-left: .5em;
    }
  }
}
.comment-navigation {
  font-size: .875em; // 14px;
  line-height: 1.5;
  border: 1px solid $base2;
  border-width: 1px 0;
  padding: 1em 0;
  margin: 5em 0;
  @include clearfix;
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    background: none;
    float: left;
    width: 50%;
    margin: 0;
    padding: 0;
    strong {
      display: block;
    }
    a {
      margin-right: .5em;
      display: inline-block;
      border: 0;
      height: 2em;
      line-height: 2em;
    	position: relative;
      margin: 0 0 0 5px;
    	padding: 0 .75em;
    	background: $base2;
    	color: $base00;
      border: 0;
    	@include roundcorners(4px);
    	@include transition(none);
    	&:hover, &:focus {
        background: $base1;
        color: $base3;
    	}
    }
  }
  .next {
    float: right;
    text-align: right;
    a {
      margin-right: 0;
      margin-left: .5em;
    }
  }
  .previous a {
    @include roundcorner(top, left, 0);
    @include roundcorner(bottom, left, 0);
    margin-left: 15px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -1em;
      width: 0;
      height: 0;
      border: 1em solid transparent;
      border-right-color: $base2;
      border-left: 0;
    }
    &:hover:before {
      border-right-color: $base1;
    }
  }
  .next a {
    @include roundcorner(top, right, 0);
    @include roundcorner(bottom, right, 0);
    margin-right: 10px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -1em;
      width: 0;
      height: 0;
      border: 1em solid transparent;
      border-left-color: $base2;
      border-right: 0;
    }
    &:hover:before {
      border-left-color: $base1;
    }
  }
}
.paged-post-navigation {
  text-align: center;
  line-height: 1;
  margin: 5em 0;
  ul {
    display: inline;
    list-style: none;
    margin: 0;
    li {
      display: inline;
      margin: 0;
      padding: 0;
      background: none;
      a, &.ellipsis {
        display: inline-block;
        border: 0;
        height: 2em;
        line-height: 2em;
      	position: relative;
        font-size: .875em; // 14px;
        margin: 0 0 0 5px;
      	padding: 0 .75em;
      	background: $base2;
      	color: $base00;
        border: 0;
      	@include roundcorners(4px);
      	@include transition(none);
      }
    	a.current, a:hover, a:focus {
        background: $base1;
        color: $base3;
    	}
    }
  }
  .first a, .next a {
    @include roundcorner(top, left, 0);
    @include roundcorner(bottom, left, 0);
    margin-left: 15px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: -1em;
      width: 0;
      height: 0;
      border: 1em solid transparent;
      border-right-color: $base2;
      border-left: 0;
    }
    &:hover:before {
      border-right-color: $base1;
    }
  }
  .page {}
  .ellipsis {}
  .previous a, .last a {
    @include roundcorner(top, right, 0);
    @include roundcorner(bottom, right, 0);
    margin-right: 10px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -1em;
      width: 0;
      height: 0;
      border: 1em solid transparent;
      border-left-color: $base2;
      border-right: 0;
    }
    &:hover:before {
      border-left-color: $base1;
    }
  }
}
#comments {
  clear: both;
  font-size: .875em; // 14px;
  line-height: 1.5;
  margin: 5em 0 1em;
  position: relative;
  .comments-title {
  	font-size: 1.66em;
  }
  .commentlist {
    margin: 0;
    list-style: none;
    ol {
      list-style: none;
    }
    li {
      margin: 1em 0;
      border-top: 1px solid $base2;
      padding-top: 1em;
      li {
        margin-left: 55px;
      }
    }
  }
  .comment {
    article {
      position: relative;
      padding-left: 55px;
      .avatar {
        position: absolute;
        top: 0;
        left: 0;
      }
      h3 {
        font-size: 1em;
        font-weight: bold;
        a {
          border-color: $base3;
        }
      }
      footer {
        font-size: smaller;
        color: $base1;
        a {
          color: $base1;
          border-color: $base3;
        }
      }
    }
    &.bypostauthor > article {
      h3:after {
        content: 'post author';
        display: inline-block;
      	background: $base2;
      	color: $base00;
        font-family: $fontstack;
        font-size: 10px;
        text-transform: uppercase;
        padding: 3px 5px;
        margin-left: 5px;
        @include roundcorners(2px);
        position: relative;
        bottom: 2px;
      }
    }
  }
  .pingback {
    font-size: smaller;
    p {
      margin: 0;
    }
  }
}
#respond {
  clear: both;
  font-size: .875em; // 14px;
  line-height: 1.5;
  margin: 5em 0 0;
  position: relative;
  .respond-title {
  	font-size: 1.66em;
  }
  .logged-in-as {
    margin-top: 0;
  }
}
.post img,
.post video,
.post object {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  &.floatleft,
  &.float_left,
  &.alignleft {
    margin: .25em 1em .5em 0;
  }
  &.floatright,
  &.float_right,
  &.alignright {
    margin: .25em 0 .5em 1em;
  }
  &.alignnone,
  &.aligncenter {
  	margin: .25em auto 1em;
  }
}
.post img {
  display: block;
  background: #ccc;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.wp-smiley {
    display: inline;
    padding: 0;
    background: none;
  }
}
.gallery {
  dl, dt, dd {
    margin: 0;
  }
  .gallery-item {
    float: left;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 1em;
  }
}

/* Tables ----------------------------------------------------------------- */
table {
  width: 100%;
  th,
  td {
    padding: .5em 1.25em;
    text-align: left;
    vertical-align: top;
    line-height: 1.25;
    border: 1px solid $base2;
    border-width: 1px 0 0 1px;
  }
  th {
    font-weight: bold;
  }
  tr:first-child th,
  tr:first-child td {
    border-top: 0;
  }
  th:first-child,
  td:first-child {
    border-left: 0;
  }
  .even th,
  .even td,
  tr:nth-child(even) th,
  tr:nth-child(even) td {
    background: $base3;
  }
  .odd th,
  .odd td,
  tr:nth-child(odd) th,
  tr:nth-child(odd) td {
    background: none;
  }
}

/* Flash Messages --------------------------------------------------------- */
.alert, // red
.error, // red
.notice, // yellow
.warning, // yellow
.success, // green
.info {
  /**
   * These alert styles lifted from Twitter Bootstrap: http://twitter.github.com/bootstrap/
   */
  padding: .5em 1em;
  margin-bottom: 1em;
  border-width: 1px;
  border-style: solid;
  @include roundcorners(.25em);
  @include boxshadow(inset 0 1px 0 rgba(255, 255, 255, 0.25));
  color: #fff;
  font-weight: normal;
  @include vertical-gradient(#5bc0de, #339bb9); // blue
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  h1, h2, h3, h4 {
    display: inline;
    border: 0;
    margin-top: 0;
    padding: 0;
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
  }
  p, ul {
    margin: 0;
  }
  label {
    float: none;
    width: auto;
    text-align: left;
    font-weight: normal;
    margin: 0;
    color: inherit;
  }
}
.success {
  color: #fff;
  @include vertical-gradient(#62c462, #57a957); // green
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.notice, .warning {
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  @include vertical-gradient(#fceec1, #eedc94); // yellow
  border-color: #eedc94 #eedc94 #e4c652;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.alert, .error {
  color: #fff;
  @include vertical-gradient(#ee5f5b, #c43c35); // red
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* Forms ------------------------------------------------------------------ */
form {
  max-width: 100%;
  margin: 1em 0;
  border-top: 1px solid $base2;
  padding-top: 1em;
  padding: 1em;
  background: $base3;
  @include clearfix;
  legend {
    font-size: 1.5em;
    font-weight: bold;
  }
  label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    &.error {
      color: $red;
    }
  }
  select,
  textarea,
  input {
  	color: $base00;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: $fontstack;
    font-size: 16px; // hard-coded for mobile
    width: 100%;
    &.error {
      border: 1px solid $red;
      color: #c00;
    }
    &.small {
      width: 33%;
    }
    &.medium {
      width: 66%;
    }
    &[type=submit],
    &[type=button],
    &[type=radio],
    &[type=checkbox] {
      width: auto;
    }
  }
  textarea,
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    padding: .25em .5em;
    background: $base4;
    border: 1px solid $base1;
  }
  textarea {
    min-height: 7em;
    resize: vertical;
  }
  select {
    width: auto;
    max-width: 250px;
  }
  /* placeholder text - these need to be separate rules for some reason */
  input.hasPlaceholder, textarea.hasPlaceholder { color: $base1; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: $base1; }
  input:-moz-placeholder, textarea:-moz-placeholder { color: $base1; }
  .field {
    clear: both;
    margin: .5em 0;
    &.error {
      color: $red;
    }
    &.required {
      label:after {
        content: "*";
        font-family: georgia;
        font-size: 1.5em; // 24px
        line-height: 16px;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 5px;
        color: $red;
      }
    }
  }
  .required {
    color: #c00;
  }
  .radio,
  .radios,
  .check,
  .checks,
  .comment-subscription-form {
    label {
      display: inline;
      margin-left: 5px;
      font-weight: normal;
    }
  }
  .inline_help {
    margin: .5em 0;
    font-size: smaller;
    color: $base1;
  }
  .actions {
    margin-top: .5em;
  }
  p {
    margin: .5em 0;
  }
  .field_with_errors {
    display: inline; // WTF, Rails?
    color: $red;
    input,
    select,
    textarea {
      border: 1px solid $red;
      color: $red;
    }
  }
}
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"],
button {
  font-family: $fontstack;
  font-weight: normal;
  display: inline-block;
  padding: .25em .5em;
  margin: 0 0 .25em;
  line-height: normal;
  cursor: default;
  text-decoration: none;
  @include roundcorners(.25em);
  @include boxshadow(inset 0 0 0 1px rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.1));
  color: #333;
  border: 1px solid #999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  @include linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  &:hover, &:focus, &:active {
    cursor: pointer;
    outline: none;
    @include linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%);
  }
  &[disabled] {
    color: #999;
    border-color: #bbb;
    @include linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  }
  &.small {
    font-size: smaller;
  }
  &.bright {
    @include linear-gradient(top, #fef9ec 0%,#fddb7f 50%,#ffc62c 51%,#fdeec4 100%);
    &:hover, &:focus, &:active {
      @include linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
    }
  }
  &.dark {
    @include linear-gradient(top, #e2ebf0 0%,#cbd7df 50%,#a9bdc9 51%,#cde5f5 100%);
    &:hover, &:focus, &:active {
      @include linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
    }
  }
}

/* Footer ----------------------------------------------------------------- */
#site-footer {
	clear: both;
	border-top: 1px solid $base2;
	padding-top: 1em;
	margin-top: 5em;
	font-size: smaller;
	text-align: center;
	padding: 1em 5% 0;
	p {
	  display: inline;
	  white-space: nowrap;
	}
	ul {
	  list-style: none;
	  li {
	    display: inline;
	    margin: 0;
	    padding: 0;
	    background: none;
	    &:after {
	      content: ', ';
	    }
	    &:last-child:after {
	      content: '';
	    }
	  }
	}
}