// colors from http://ethanschoonover.com/solarized
// default stack   - bg: $base3, fg: $base00
// highlight stack - bg: $base2, fg: $base01

$base01:    #000; // optional emphasized content
$base00:    #444; // body text
$base1:     #999; // comments / secondary highlight
$base2:     #ddd; // background highlights
$base3:     #eee; // background
$base4:     #fff; // new page bg
$brown:     #AA6E46;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682; // works well with blue
$violet:    #6c71c4;
$blue:      #268bd2; // works well with magenta
$cyan:      #2aa198;
$green:     #859900;
$tardis:    #003D67;
$fontstack: 'PT Serif', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$captionfontstack: 'PT Serif Caption', $fontstack;
$headlinefontstack: Merriweather, $fontstack;
